<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tvs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tvs"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.activitys.Casting"></activity>
        <activity android:name=".activity.activitys.OnlinePE" />
        <activity android:name=".activity.activitys.Test" />
        <activity android:name=".activity.activitys.LoginActivity" />
        <activity android:name=".activity.activitys.AlertActivity" />
        <activity android:name=".activity.activitys.BreakDown" />
        <activity android:name=".activity.activitys.Productivity" />
        <activity
            android:name=".activity.Home"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.Tvs.NoActionBar" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.activitys.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>